/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    display: block;
    font-family: "DM Sans", sans-serif;
    font-family: "Open Sans", sans-serif;
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='DeepSkyBlue' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
    /* BRON CURSOR: https://dev.to/clementgaudiniere/custom-cursor-on-a-webpage-in-pure-css-1dmk */
}

:root {
    --slidernav: rgb(245, 245, 245);
    --button-color1: black;
    --button-color2: white;
    --button-hover: lightblue;
    --font-zwart: black;
    --font-wit: white;
    --font-footer: rgb(129, 129, 129);
}

a:focus {
    border: solid 3px var(--button-hover);
}



@media (min-width: 20em) {
    body.bestellingen {
        margin: 0;
        padding: 0;
    }

    .bestellingen header {
        position: relative;
        align-items: center;
    }

    .bestellingen header a.content {
        color: purple;
        position: absolute;
        top: 0.5em;
        left: 2em;
        display: block;
        transform: translateX(calc(-100% - 2em));
    }

    .bestellingen header a.content:focus {
        transform: none;
    }

    .bestellingen header a>svg {
        margin: 0;
        padding: 0 0 0.5em;
        width: 4em;
        height: auto;
        position: absolute;
        left: 1em;
        top: 0;
    }

    .bestellingen header a>svg:hover {
        fill: var(--button-hover);
    }

    .bestellingen header a {
        text-decoration: none;
        color: var(--font-zwart);
    }

    /* NAV EEN  */

    .bestellingen header nav:nth-of-type(1) {
        margin-top: 1em;
        display: flex;
        justify-content: flex-end;
        gap: 2em;
        margin-right: 1em;
    }

    .bestellingen header nav:nth-of-type(1) button {
        position: relative;
        width: 2.5em;
        height: 2.5em;

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        border: none;
        background-color: transparent;
    }

    .bestellingen header nav:nth-of-type(1) button span {
        display: block;
        width: 50%;
        height: 1px;
        background-color: black;

        position: absolute;
        transition: 0.3s;
    }

    .bestellingen header nav:nth-of-type(1) button span:nth-of-type(1) {
        transform: translateY(-5px);
    }

    .bestellingen header nav:nth-of-type(1) button span:nth-of-type(3) {
        transform: translateY(5px);
    }

    .bestellingen header.toonMenu nav:nth-of-type(2) {
        transform: translateX(0%);
        /* opacity: 0; */
    }

    .bestellingen header.toonMenu nav:nth-of-type(1) button span {
        background-color: var(--button-hover);
    }

    .bestellingen header.toonMenu nav:nth-of-type(1) button span:nth-of-type(1) {
        transform: rotate(45deg);
    }

    .bestellingen header.toonMenu nav:nth-of-type(1) button span:nth-of-type(2) {
        opacity: 0;
    }

    .bestellingen header.toonMenu nav:nth-of-type(1) button span:nth-of-type(3) {
        transform: rotate(-45deg);
    }

    .bestellingen header nav:nth-of-type(1) svg {
        display: flex;
        width: 1.3em;
        height: auto;
    }

    /* NAV HAMBURGER */

    .bestellingen header nav:nth-of-type(2) {
        overflow: scroll;
        overscroll-behavior: contain;
    }

    .bestellingen header nav:nth-of-type(2) ul:nth-of-type(1) {
        padding: 0 1.5em 0;
        list-style: none;
        line-height: 2.3em;

        font-size: 1.5em;
    }

    .bestellingen nav:nth-of-type(2) ul:nth-of-type(2) li:first-of-type {
        background-image: url(../images/jordan-2.svg);
        margin: 0;
        height: 2.9em;
        width: 10em;

        background-size: 2em 1.5em;
        background-position: 0 center;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bestellingen header nav:nth-of-type(2) ul:nth-of-type(2) {
        font-weight: 500;
        padding: 0 1.5em 0;
    }

    .bestellingen header nav:nth-of-type(2) ul:nth-of-type(2) li:last-of-type {
        background-image: url(../images/converse.svg);
        margin: 0;
        height: 5em;
        width: 10em;

        background-size: 2em 1.5em;
        background-position: 0 center;
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bestellingen header nav:nth-of-type(2) {
        margin: 0;
        padding: 0;
        background: white;
        list-style: none;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        transform: translatex(100%);
        transition: 0.3s;

        font-size: 15px;
        line-height: 3em;
        font-weight: 500;
    }

    .bestellingen header nav:nth-of-type(2) section {
        margin-top: 2em;
        padding: 0 1.5em 0;
        line-height: 2em;
    }

    .bestellingen header nav:nth-of-type(2) section p {
        margin-bottom: 2em;
        font-size: 1.5em;
        color: rgb(139, 139, 139);
    }

    .bestellingen header nav:nth-of-type(2) section a:first-of-type {
        padding: .8em 2em;
        background-color: var(--button-color1);
        font-weight: 100;
        color: var(--font-wit);
        border-radius: 20px;
        text-decoration: none;
        margin-top: 2em;
        font-size: 1em;
        font-weight: 500;
    }

    .bestellingen header nav:nth-of-type(2) section a:last-of-type {
        padding: 0.8em 2em;
        background-color: var(--button-color2);
        font-weight: 100;
        color: var(--button-color1);
        border-radius: 20px;
        text-decoration: none;
        margin-top: 2em;
        font-size: 1em;
        font-weight: 500;
        border: solid 1px black;
    }

    .bestellingen header nav:nth-of-type(2) ul:nth-of-type(3) {
        padding: 3em 1.5em 0;
        list-style: none;
    }

    .bestellingen header nav:nth-of-type(2) ul:nth-of-type(3) li {
        display: flex;
        align-items: center;
        gap: 1em;
        list-style: none;
    }

    .bestellingen header nav:nth-of-type(2) ul:nth-of-type(3) li:nth-of-type(1) {
        background-image: url(../images/winkelmandje.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: 1.5em auto;

        padding-left: 2.5em;
    }

    .bestellingen header nav:nth-of-type(2) ul:nth-of-type(3) li:nth-of-type(2) {
        background-image: url(../images/bestelling_icon.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: 1.5em auto;

        padding-left: 2.5em;
    }

    .bestellingen header nav:nth-of-type(2) ul:nth-of-type(3) li:nth-of-type(3) {
        background-image: url(../images/help_icon.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: 1.5em auto;

        padding-left: 2.5em;
    }

    .bestellingen header nav:nth-of-type(2) ul:nth-of-type(3) li a {
        text-decoration: none;
        color: var(--font-zwart);
    }

    .bestellingen header nav:nth-of-type(3) {
        display: none;
    }

    .bestellingen header nav:nth-of-type(4) {
        display: none;
    }



    /* BESTELLINGEN MAIN */

    .bestellingen main section:nth-of-type(1) {
        padding: 3.125rem 0 0;
    }

    .bestellingen main form {
        width: 19.75rem;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }

    .bestellingen main form h3 {
        margin: 0;
        font-size: 20px;
        color: var(--font-zwart);
        font-weight: 500;
    }

    .bestellingen main form p:nth-of-type(1) {
        margin: 0;
        font-size: 14px;
        font-weight: 100;
    }

    .bestellingen form section:nth-of-type(1) input {
        width: 20em;
        height: 4em;
        padding-left: 1em;
        border-radius: 0.5em;
        border: solid 1px lightgray;
    }

    .bestellingen form section:nth-of-type(2) input {
        width: 20em;
        height: 4em;
        padding-left: 1em;
        border-radius: 0.5em;
        border: solid 1px lightgray;

        margin-top: 2em;
    }

    .bestellingen form button {
        margin-top: 3em;
        width: 20em;
        height: 4em;
        border: none;
        border-radius: 5em;

        background-image: linear-gradient(90deg,
                var(--slidernav) 50%,
                var(--button-hover) 50%);
        background-size: 200% 100%;
        transition: 0.3s;
        outline: none;
    }

    .bestellingen section form button:hover {
        background-position: right center;
    }

    .bestellingen main form p:nth-of-type(2) {
        margin-top: 2em;
        font-size: 14px;
        font-weight: 100;
    }

    .bestellingen main form p:nth-of-type(2)>a {
        color: var(--font-zwart);
    }

    /* bestellingen footer  */

    .bestellingen footer {
        background-color: black;
        margin-top: 10em;
        height: 60em;
    }

    .bestellingen footer a {
        text-decoration: none;
        color: var(--font-wit);
    }

    .bestellingen footer section:nth-of-type(1) {
        height: 10em;
        background-color: black;
        display: block;
        position: relative;
    }

    .bestellingen footer section:nth-of-type(1) ul {
        justify-content: flex-start;
        position: absolute;
        top: 1em;
        padding: 0.5em;
        margin: 1em;
    }

    .bestellingen footer section:nth-of-type(1) ul li {
        list-style-type: none;
        font-size: 14px;
        color: var(--font-wit);
        line-height: 2.3em;
    }

    .bestellingen footer section:nth-of-type(1) ul li {
        text-transform: uppercase;
    }

    .bestellingen hr {
        color: white;
        height: 0.125rem;
        width: 95%;
        position: absolute;
        top: 15em;
        left: 1em;
    }

    .bestellingen footer section:nth-of-type(2) {
        position: relative;
        margin: 1em;
    }

    .bestellingen footer section:nth-of-type(2) button:nth-of-type(1) {
        display: block;
        padding: 0.5em;
        position: absolute;
        top: 7.5em;
        width: 95%;
        color: var(--font-wit);
        background-color: transparent;
        border: none;
        align-items: flex-start;
        text-align: left;
        text-transform: uppercase;
        cursor: pointer;

        background-image: url(../images/plusje.jpeg);
        background-repeat: no-repeat;
        background-size: 1.2em 1.2em;
        background-position: right center;
    }

    .bestellingen footer section:nth-of-type(2) button:nth-of-type(2) {
        display: block;
        padding: 0.5em;
        position: absolute;
        top: 14em;
        width: 95%;
        color: var(--font-wit);
        background-color: transparent;
        border: none;
        align-items: flex-start;
        text-align: left;
        text-transform: uppercase;
        cursor: pointer;

        background-image: url(../images/plusje.jpeg);
        background-repeat: no-repeat;
        background-size: 1.2em 1.2em;
        background-position: right center;
    }

    .bestellingen footer section:nth-of-type(3) {
        margin: 20em 1em 0 1em;
    }

    .bestellingen footer section:nth-of-type(3) ul {
        padding: 0.5em;
        display: flex;
        justify-content: flex-start;
        gap: 0.5em;
    }

    .bestellingen footer section:nth-of-type(3) ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        background-color: lightgray;
    }

    .bestellingen footer section:nth-of-type(3) ul li img {
        width: 2em;
        height: 2em;
    }

    .bestellingen footer section:nth-of-type(3) ul li:hover {
        background-color: var(--button-hover);
    }

    .bestellingen footer section:nth-of-type(4) {
        margin: 0 1em;
    }

    .bestellingen footer section:nth-of-type(4) ul {
        padding: .5em;
    }

    .bestellingen footer section:nth-of-type(4) ul li {
        list-style-type: none;
        font-size: 14px;
        color: var(--font-wit);
        line-height: 3em;
    }

    .bestellingen footer section:nth-of-type(5) {
        display: none;
    }

    .bestellingen footer section:nth-of-type(6) {
        display: none;
    }



    /* ORDER PAGINA  */



    body.order {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #000;
    }

    .order main a {
        text-decoration: none;
        color: inherit;
        font-size: 18px;
    }

    .order main p {
        font-weight: 700;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        background: linear-gradient(90deg, #000, #fff, #000);
        letter-spacing: 5px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-repeat: no-repeat;
        background-size: 80%;
        animation: shine 5s linear infinite;
        position: relative;
    }

    @keyframes shine {
        0% {
            background-position-x: -500%;
        }

        100% {
            background-position-x: 500%;
        }
    }

}


@media (min-width: 64em) {
    .bestellingen header a>svg {
        margin: 0;
        padding: 0 0 0 0.5rem;
        width: 4em;
        height: auto;
        position: absolute;
        left: 2em;
        top: 4em;
        z-index: 150;
    }

    .bestellingen header a>svg:hover {
        fill: var(--button-hover);
    }

    .bestellingen header nav:nth-of-type(1) {
        display: none;
    }

    .bestellingen header nav:nth-of-type(2) {
        display: none;
    }

    /* DERDE NAV */

    .bestellingen header nav:nth-of-type(3) {
        display: block;
        height: 2.5em;
        width: 100%;
        background-color: var(--slidernav);

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .bestellingen header nav:nth-of-type(3) ul:nth-of-type(1) {
        display: flex;
        list-style: none;
        margin-left: 3em;
        padding: 0;
        gap: 1em;
        align-items: center;
    }

    .bestellingen header nav:nth-of-type(3) ul:nth-of-type(2) {
        display: flex;
        list-style: none;
        gap: 1em;
        font-size: 13px;
        margin-right: 3em;
        padding: 0;
    }

    .bestellingen header nav:nth-of-type(3) img {
        width: 1.5em;
        height: auto;
        justify-content: flex-start;
    }

    /* 4e NAV */

    .bestellingen header nav:nth-of-type(4) {
        position: relative;
        padding: 1em 0;
        margin: 0 3em;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bestellingen header nav:nth-of-type(4) ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2em;
        font-size: 14px;
    }

    .bestellingen header nav:nth-of-type(4) ul li a {
        display: block;
        position: relative;
        padding: 0.2em 0;
    }

    .bestellingen header nav:nth-of-type(4) li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: var(--button-hover);
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    .bestellingen header nav:nth-of-type(4) li a::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }

    .bestellingen header nav:nth-of-type(4) li a:hover::after,
    .bestellingen header nav:nth-of-type(4) li a:focus::after {
        transform: scale(1);
    }

    /* BRON: https://css-irl.info/animating-underlines/ */

    .bestellingen header nav:nth-of-type(4) ul:nth-of-type(2) {
        position: absolute;
        right: 0;
        align-items: center;
    }

    .bestellingen header nav:nth-of-type(4) ul:nth-of-type(2) img {
        width: 1.5em;
        height: auto;
    }

    .bestellingen header nav:nth-of-type(4) input {
        height: 3em;
        width: 12em;

        border-radius: 5em;
        border: none;
        background-color: var(--slidernav);
        background-image: url(../images/zoeken.svg);

        background-repeat: no-repeat;
        background-size: 1.5em auto;
        background-position: 0.5em center;

        padding-left: 2.5em;
        position: absolute;
        right: 8em;
    }


    .bestellingen footer section:nth-of-type(1) {
        display: none;
    }

    .bestellingen footer section:nth-of-type(2) {
        display: none;
    }

    .bestellingen footer section:nth-of-type(3) {
        display: none;
    }

    .bestellingen footer section:nth-of-type(4) {
        display: none;
    }

    /* FOOTER DESKTOP */
    .bestellingen footer {
        height: 22em;
        margin-top: 10em;
    }


    .bestellingen footer section:nth-of-type(5) {
        margin: 0 3em;
        padding: 2.5em 0 0 0;
        display: flex;
        gap: 3em;

        position: relative;
    }

    .bestellingen footer section:nth-of-type(5) ul {
        padding: 0;
        list-style: none;
        line-height: 2em;
        margin: 0;
    }

    .bestellingen footer section:nth-of-type(5) ul:nth-of-type(1) li a {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .bestellingen footer section:nth-of-type(5) ul:nth-of-type(2) li a {
        font-size: 12px;
        font-weight: 100;
        color: var(--font-footer);
    }

    .bestellingen footer section:nth-of-type(5) ul:nth-of-type(3) li a {
        font-size: 12px;
        font-weight: 100;
        color: var(--font-footer);
    }

    .bestellingen footer section:nth-of-type(5) ul:nth-of-type(2) li {
        font-size: 14px;
        font-weight: 500;
        color: var(--font-wit);
    }

    .bestellingen footer section:nth-of-type(5) ul:nth-of-type(3) li {
        font-size: 14px;
        font-weight: 500;
        color: var(--font-wit);
    }

    .bestellingen footer section:nth-of-type(5) ul:nth-of-type(4) li a img {
        width: 1.3em;
        height: 1.3em;
    }

    .bestellingen footer section:nth-of-type(5) ul:nth-of-type(4) {
        display: flex;
        gap: 0.5em;
        margin: 0;

        position: absolute;
        top: 2.5em;
        right: 0;
    }

    .bestellingen footer section:nth-of-type(5) ul:nth-of-type(4) li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.7em;
        height: 2.7em;
        border-radius: 50%;
        background-color: lightgray;
    }

    .bestellingen footer section:nth-of-type(5) ul li a {
        display: flex;
    }

    .bestellingen footer section:nth-of-type(6) {
        margin: 0 3em;
        display: flex;
        justify-content: flex-end;
    }

    .bestellingen footer section:nth-of-type(6) ul {
        display: flex;
        gap: 1em;
    }

    .bestellingen footer section:nth-of-type(6) ul li a {
        font-size: 10px;
        color: var(--font-footer);
    }


}







@media (min-width: 120em) {
    /* Bestellingen */

    .bestelligen header a>svg {
        margin: 0;
        padding: 0 0 0 0.5rem;
        width: 4em;
        height: auto;
        position: absolute;
        left: 15em;
        top: 3.7em;
        z-index: 150;
    }

    .bestellingen header a>svg:hover {
        fill: var(--button-hover);
    }

    .bestellingen header nav:nth-of-type(1) {
        display: none;
    }

    .bestellingen header nav:nth-of-type(2) {
        display: none;
    }




    /* DERDE NAV */

    .bestellingen header nav:nth-of-type(3) ul:nth-of-type(1) {
        display: flex;
        list-style: none;
        margin-left: 15em;
        padding: 0;
        gap: 1em;
        align-items: center;
    }

    .bestellingen header nav:nth-of-type(3) ul:nth-of-type(2) {
        display: flex;
        list-style: none;
        gap: 1em;
        font-size: 13px;
        margin-right: 18em;
        padding: 0;
    }




    /* 4e NAV */

    .bestellingen header nav:nth-of-type(4) {
        position: relative;
        padding: 1em 0;
        margin: 0 15em;

        display: flex;
        align-items: center;
        justify-content: center;
    }



    /* FOOTER DESKTOP */


    .bestellingen footer section:nth-of-type(1) {
        display: none;
    }

    .bestellingen footer section:nth-of-type(2) {
        display: none;
    }

    .bestellingen footer section:nth-of-type(3) {
        display: none;
    }

    .bestellingen footer section:nth-of-type(4) {
        display: none;
    }


    .bestellingen footer {
        height: 22em;
    }

    .bestellingen footer section:nth-of-type(5) {
        margin: 0 20em;
        padding: 2.5em 2.5em 0 2.5em;
    }


    .bestellingen footer section:nth-of-type(6) {
        margin: 0 20em;
        display: flex;
        justify-content: flex-end;
    }

}